@model GameCentral.Shared.Entities.Game

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Edit</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
</head>
<body>
<div class="text-center" style="margin-right: 70px; margin-left: 70px">
    <br/>
    <h2>@Localizer["FillEdit"]</h2>
    <br/>
    <div asp-validation-summary="All"></div>
    <form method="post">
        <table class="table">
            <tbody>
            <tr>
                <td>@Localizer["Title"]</td>
                <td>
                    <input asp-for="Title" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>@Localizer["Genre"]</td>
                <td>
                    <input asp-for="Genre" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>@Localizer["Studio"]</td>
                <td>
                    <input asp-for="Studio" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>@Localizer["Publisher"]</td>
                <td>
                    <input asp-for="Publisher" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>@Localizer["Cost"]</td>
                <td>
                    <input asp-for="Cost" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>@Localizer["Description"]</td>
                <td>
                    <input asp-for="Description" type="text" aria-multiline="true" class="form-control"/>
                </td>
            </tr>
            <tr>
                <td>@Localizer["PreviewImage"]</td>
                <td>
                    <input asp-for="PreviewImageUrl" type="text" class="form-control">
                </td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" asp-for="GameId" value="@Model.GameId">
        <button type="submit" class="btn btn-primary">@Localizer["EditGame"]</button>
    </form>
    <br/>
    <a asp-action="ListGames">@Localizer["GoBack"]</a>
</div>
</body>
</html>